.main-print247{
    background-color: #081f28;
   height: 64px;
   display: flex;
   justify-content: center;
    .print247-img{
        width: 100px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
   
}
.info-error{
    padding: 32px 168px 8px;
    @media screen and (max-width: 800px) {
        padding: 0;
        width: 85%;
        margin: auto;
    }

    .heading{
        opacity: .87;
     font-family: "Montserrat";
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 150%;
    letter-spacing: .015em;
    color: #0193a7;
    margin-top: 0;
    margin-bottom: 16px;
    }
    
    .sub-heading{
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 150%;
        letter-spacing: .015em;
        color: #090f15;
        margin-top: 0;
        margin-bottom: 16px;
    }
    .para{
         font-family: "Montserrat";
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: .015em;
        color: #090f15;
        margin-bottom: 48px;
    }
}