.image_container {
  display: flex;
  align-items: center;
  padding-top: 120px;
  gap: 70px;

  @media screen and (max-width: 1280px) {
    gap: 40px;
  }

  @media screen and (max-width: 1200px) {
    gap: 30px;
  }

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 575px) {
    padding-top: 80px;
  }
}

.image-slider .form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.image-slider {
  position: relative;
  overflow: hidden;
  height: 85vh;

  @media screen and (max-width: 1420px) {
    height: 80vh;
  }

  @media screen and (max-width: 1280px) {
    height: 84vh;
  }

  @media screen and (max-width: 575px) {
    height: 70vh;
  }

  @media screen and (max-width: 1100px) {
    width: 100%;
  }
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnails {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;

  @media screen and (max-width: 575px) {
    left: 1.3rem;
  }

}

.thumbnail {
  width: 65px;
  height: auto;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;


  @media screen and (max-width: 1280px) {
    width: 55px;
  }

  @media screen and (max-width: 768px) {
    width: 45px;
  }

  @media screen and (max-width: 575px) {
    width: 40px;
  }

}

.thumbnail.active {
  opacity: 1;
  transform: scale(1.05);
}

.form_Section_mainTwo {
  height: 100% !important;
  transition: all 1s ease-in-out;

  @media screen and (max-width: 1100px) {
    border-radius: 37px 37px 0px 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    background-color: rgba(48, 46, 46, 0.57) !important;
    backdrop-filter: blur(42px);
    -webkit-backdrop-filter: blur(42px);
    z-index: 222;
  }

  .form-section {
    width: 100%;
    max-width: 600px;

    @media screen and (max-width: 1480px) {
      margin-right: 60px;
      max-width: 500px;
    }

    @media screen and (max-width: 1280px) {
      margin-right: 60px;
      max-width: 440px;
    }

    @media screen and (max-width: 1100px) {
      margin: auto !important;
      padding: 30px 0px;
      max-width: 500px;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      margin: auto !important;
      padding: 20px 13px;
      max-width: 500px;
      width: 100%;
    }

    .slide_icon img {
      display: none;

      @media screen and (max-width: 1100px) {
        display: block;
      }
    }

    .custom_name {
      h2 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 0% !important;

        @media screen and (max-width: 1550px) {
          font-size: 50px;
        }

        @media screen and (max-width: 1550px) {
          font-size: 45px;
        }

        @media screen and (max-width: 1450px) {
          font-size: 38px;
        }

        @media screen and (max-width: 1100px) {
          color: white;
        }

        @media screen and (max-width: 768px) {
          font-size: 30px;
        }

        @media screen and (max-width: 575px) {
          font-size: 25px;
        }

      }
    }

    .inner_star1 {
      display: flex;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 1420px) {
        gap: 12px;
      }

      @media screen and (max-width: 1024px) {
        gap: 20px;
      }

      @media screen and (max-width: 768px) {
        gap: 9px;
      }

      @media screen and (max-width: 410px) {
        gap: 5px;
      }

      .star_reviews {
        margin: 7px 0px;

        @media screen and (max-width: 1700px) {
          margin: 4px 0px;
        }

        p {
          font-size: 13px;
          font-family: "Montserrat";
          font-weight: 300;
          margin-bottom: 0px;
          color: black;

          @media screen and (max-width: 1420px) {
            font-size: 12px;
          }

          @media screen and (max-width: 1320px) {
            font-size: 11px;
          }

          @media screen and (max-width: 1100px) {
            color: white;
          }
        }
      }

      .star_reviewsTwo {
        margin: 7px 0px;

        @media screen and (max-width: 1700px) {
          margin: 4px 0px;
        }

        p {
          font-size: 13px;
          font-family: "Montserrat";
          font-weight: 300;
          margin-bottom: 0px;
          color: black;

          @media screen and (max-width: 1420px) {
            font-size: 12px;
          }

          @media screen and (max-width: 1320px) {
            font-size: 11px;
          }

          @media screen and (max-width: 1100px) {
            color: white;
          }
        }
      }

      .pole {
        @media screen and (max-width: 1100px) {
          color: white;
        }
      }
    }

    .text_description {

      .text_para {
        font-size: 14px;
        font-weight: normal;
        font-family: "Montserrat";
        margin-bottom: 15px !important;
        color: black;

        @media screen and (max-width: 1700px) {
          margin-bottom: 10px !important;
          font-size: 13px;
        }

        @media screen and (max-width: 1320px) {
          margin-bottom: 6px !important;
          font-size: 12px;
        }

        @media screen and (max-width: 1100px) {
          color: white;
        }

        @media screen and (max-width: 768px) {
          font-size: 11px;
        }
      }

      .text_dis {
        font-size: 14px;
        font-weight: 400;
        color: #8CA507 !important;
        padding-bottom: 8px;

        @media screen and (max-width: 1320px) {
          font-size: 11px;
        }
      }
    }

    .check_items_main {
      margin-top: 20px;

      @media screen and (max-width: 1500px) {
        margin-top: 15px;
      }

      @media screen and (max-width: 1320px) {
        margin-top: 10px;
      }

      .grid_check_items_main {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: 575px) {
          display: grid;
        grid-template-columns: 1fr;
        }

        .check_items {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 10px;

          @media screen and (max-width: 1500px) {
            margin-top: 10px;
          }

          @media screen and (max-width: 1320px) {
            margin-top: 13px;
          }

          img {
            width: 15px;
            height: 15px;

            @media screen and (max-width: 1100px) {
              content: url('/image/whitecheck.png');
            }
          }

          p {
            font-size: 14px;
            font-weight: normal;
            font-family: "Montserrat";
            margin-bottom: 0px !important;
            color: black;

            @media screen and (max-width: 1500px) {
              font-size: 13px;
            }

            @media screen and (max-width: 1100px) {
              font-size: 12px;
              color: white;
            }
          }
        }
      }
    }

    .folding_cart_campaign_price {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-top: 8px;
      padding-bottom: 4px;

      @media screen and (max-width: 1420px) {
        gap: 10px;
      }

      @media screen and (max-width: 575px) {
        gap: 7px;
      }

      h2 {
        font-size: 20px;
        color: #00A1ED;
        font-weight: normal;
        margin-bottom: 0px;

        @media screen and (max-width: 1420px) {
          font-size: 15px;
        }

        @media screen and (max-width: 575px) {
          font-size: 13px;
        }
      }

      p {
        font-size: 10px;
        color: black;
        margin-bottom: 0px;

        @media screen and (max-width: 1420px) {
          font-size: 9px;
        }

        @media screen and (max-width: 1100px) {
          color: white;
        }
      }
    }


  }

}

.afterScroll_formTwo {
  @media screen and (max-width: 1100px) {
    margin-top: -350px;
  }

  @media screen and (max-width: 800px) {
    margin-top: -350px;
  }
}