.cart_procesing_modal {
    padding: 0px 30px;
    // margin-top: 30px;
    // margin-bottom: 30px;
    z-index: 8777777777777777777777777777777777777;

    @media screen and (max-width: 575px) {
        padding: 0px 15px;
    }
}

.procesing_request_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
    gap: 25px;
    align-items: center;

    @media screen and (max-width: 375px) {
        gap: 15px;
    }

    .btn1_style {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 180px;
        color: white;
        background: #00A1ED;
        border-radius: 10px;
        transition: background-color 0.3s;

        @media screen and (max-width: 375px) {
            width: 160px !important;
        }
    }
    
    .btn2_style {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 180px;
        color: black;
        background: transparent;
        border-radius: 10px;
        border: 1px solid black;
        transition: background-color 0.3s, color 0.3s; 

        @media screen and (max-width: 375px) {
            width: 160px !important;
        }
    }
    
    /* Hover styles */
    .btn1_style:hover {
        background: #0075A8; 
    }
    
    .btn2_style:hover {
        color: white; 
        background: black; 
    }
    
}

.ant-modal-content {
    width: 70%;
}