.main_designoption {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #F1F1F1;

    h3 {
        font-size: 50px;
        font-weight: 700;
        text-align: center;

        @media screen and (max-width: 1024px) {
            font-size: 40px;
        }
        @media screen and (max-width: 768px) {
            font-size: 35px;
        }
        @media screen and (max-width: 575px) {
            font-size: 25px;
        }
    }

    .inner_designoption {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 17px;
        justify-content: center;
        text-align: center;

        @media screen and (max-width: 1550px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 575px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0px;
        }

        .bottom_designoption {

            .head_designoption_image {
                position: relative;

                .image_designoption {

                    img {
                        margin-top: 40px;

                        @media screen and (max-width: 1660px) {
                            width: 320px;
                            height: 390px;
                        }

                        @media screen and (max-width: 1075px) {
                            width: 300px;
                            height: auto;
                        }

                        @media screen and (max-width: 1024px) {
                            width: 270px;
                            height: auto;
                        }

                        @media screen and (max-width: 930px) {
                            width: 250px;
                            height: auto;
                        }

                        @media screen and (max-width: 850px) {
                            width: 230px;
                            height: auto;
                        }

                        @media screen and (max-width: 800px) {
                            width: 200px;
                            height: auto;
                        }

                        @media screen and (max-width: 768px) {
                            width: 270px;
                            height: auto;
                        }

                        @media screen and (max-width: 620px) {
                            width: 240px;
                            height: auto;
                        }

                        // @media screen and (max-width: 575px) {
                        //     width: 300px;
                        //     height: auto;
                        // }

                        // @media screen and (max-width: 375px) {
                        //     width: 230px;
                        //     height: auto;
                        // }

                    }
                }

                .head_designoption {
                    h3 {
                        padding-top: 20px;
                        text-align: center;
                        font-size: 23px;
                        font-weight: 600;
                        color: black;

                        @media screen and (max-width: 1024px) {
                            font-size: 20px;
                        }
                        @media screen and (max-width: 768px) {
                            font-size: 18px;
                        }
                        @media screen and (max-width: 575px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}