.main_happy_customers {
    margin-top: 100px;

    @media screen and (max-width: 912px) {
        margin-top: 80px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }

    @media screen and (max-width: 575px) {
        margin-top: 50px;
    }

    .data_happy_customers {
        h3 {
            font-size: 55px;
            font-weight: 700;
            text-align: center;
            color: black;
           font-family: "Montserrat";

            @media screen and (max-width: 912px) {
                font-size: 45px;
            }

            @media screen and (max-width: 768px) {
                font-size: 35px;
            }

            @media screen and (max-width: 575px) {
                font-size: 30px;
            }

            @media screen and (max-width: 420px) {
                font-size: 25px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            color: black;
            max-width: 950px;
            margin: auto;
            font-family: "Montserrat";

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }

            @media screen and (max-width: 575px) {
                font-size: 14px;
            }
        }

        .width_grid_set {
            display: flex;
            margin: auto;
            max-width: 1300px;

            .grid_happy_customers {
                display: flex;
                margin: auto;
                gap: 20px;
                margin-top: 60px;
                margin-right: 20px;

                .inner_grid_customers {
                    background-color: #EBEBEB;
                    border-radius: 31px;
                    padding: 10px 30px;
                    max-width: 400px;
                    margin: auto;
                    position: relative;
                    padding-top: 60px;

                    @media screen and (max-width: 1280px) {
                        padding: 10px 22px;
                        padding-top: 55px;
                        max-width: 320px;
                    }

                    @media screen and (max-width: 1280px) {
                        padding: 10px 22px;
                        padding-top: 55px;
                        max-width: 300px;
                    }

                    @media screen and (max-width: 912px) {
                        padding: 10px 15px;
                        padding-top: 45px;
                        border-radius: 20px;
                        max-width: 270px;
                    }

                    @media screen and (max-width: 768px) {
                        padding: 5px 10px;
                        padding-top: 45px;
                        border-radius: 15px;
                        max-width: 240px;
                    }

                    .image_customer {
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        img {
                            @media screen and (max-width: 1280px) {
                                width: 80px;
                                height: auto;
                            }

                            @media screen and (max-width: 912px) {
                                width: 70px;
                                height: auto;
                            }

                            @media screen and (max-width: 768px) {
                                width: 60px;
                                height: auto;
                            }
                        }
                    }

                    h4 {
                        font-size: 18px;
                        font-weight: 600;
                        color: black;
                        padding-bottom: 2px;
                        text-align: center;

                        @media screen and (max-width: 1280px) {
                            font-size: 16px;
                            padding-bottom: 1px;
                        }

                        @media screen and (max-width: 1024px) {
                            font-size: 14px;
                        }

                        @media screen and (max-width: 912px) {
                            font-size: 12px;
                        }

                        @media screen and (max-width: 420px) {
                            font-size: 11px;
                        }
                    }

                    p {
                        font-size: 12px;
                        font-weight: 300;
                        color: black;
                        padding-bottom: 15px;
                        text-align: center;

                        @media screen and (max-width: 1280px) {
                            font-size: 10px;
                            padding-bottom: 12px;
                        }

                        @media screen and (max-width: 1024px) {
                            font-size: 10px;
                        }

                        @media screen and (max-width: 912px) {
                            font-size: 8px;
                        }
                    }

                    .lower_customer_description {
                        h5 {
                            font-size: 16px;
                            font-weight: 600;
                            color: black;
                            padding-bottom: 6px;
                            margin-bottom: 0% !important;

                            @media screen and (max-width: 1280px) {
                                font-size: 14px;
                                padding-bottom: 4px;
                            }

                            @media screen and (max-width: 1024px) {
                                font-size: 12px;
                            }

                            @media screen and (max-width: 912px) {
                                font-size: 10px;
                            }

                            @media screen and (max-width: 420px) {
                                font-size: 9px;
                            }
                        }

                        p {
                            font-size: 14px;
                            font-weight: 400;
                            color: black;
                            text-align: left;

                            @media screen and (max-width: 1280px) {
                                font-size: 11px;
                            }

                            @media screen and (max-width: 1024px) {
                                font-size: 10px;
                            }

                            @media screen and (max-width: 912px) {
                                font-size: 9px;
                            }

                            @media screen and (max-width: 420px) {
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}