.main_Value247 {
    margin-top: 50px;

    @media screen and (max-width: 768px) {
        margin-top: 40px;
    }

    @media screen and (max-width: 575px) {
        margin-top: 30px;
    }

    .main_value_r {
        position: relative;

        .values_247 {
            color: black;
            font-size: 160px;
            font-weight: 600;
           font-family: "Montserrat";
            text-align: center;
            width: fit-content;
            margin: auto;
            position: relative;

            @media screen and (max-width: 1600px) {
                font-size: 130px;
            }

            @media screen and (max-width: 1450px) {
                font-size: 120px;
            }

            @media screen and (max-width: 1280px) {
                font-size: 100px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 80px;
            }

            @media screen and (max-width: 768px) {
                font-size: 60px;
            }

            @media screen and (max-width: 575px) {
                font-size: 50px;
            }

            @media screen and (max-width: 480px) {
                font-size: 45px;
            }

            .value_r {
                position: absolute;
                top: 15%;
                width: 20px;
                height: 20px;
                right: -22px;
            }
        }

        .span_247 {
            color: #00A1ED;
            font-size: 160px;
            font-weight: 600;
           font-family: "Montserrat";
            text-align: center;

            @media screen and (max-width: 1600px) {
                font-size: 130px;
            }

            @media screen and (max-width: 1450px) {
                font-size: 120px;
            }

            @media screen and (max-width: 1280px) {
                font-size: 100px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 80px;
            }

            @media screen and (max-width: 768px) {
                font-size: 60px;
            }

            @media screen and (max-width: 575px) {
                font-size: 50px;
            }

            @media screen and (max-width: 480px) {
                font-size: 42px;
            }

            @media screen and (max-width: 420px) {
                font-size: 40px;
            }
        }


    }

    .value_para {
        font-size: 17px;
        color: black;
        text-align: center;
        max-width: 900px;
        margin: auto;

        @media screen and (max-width: 1280px) {
            font-size: 15px;
        }

        @media screen and (max-width: 912px) {
            font-size: 14px;
        }

        @media screen and (max-width: 768px) {
            font-size: 13px;
        }
    }

    .value_padding_grid {
        margin-top: 60px;

        @media screen and (max-width: 575px) {
            margin-top: 40px;
        }

        .value_grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 75%;
            margin: auto;
            column-gap: 140px;
            row-gap: 30px;

            @media screen and (max-width: 1600px) {
                column-gap: 120px;
            }

            @media screen and (max-width: 1450px) {
                column-gap: 100px;
                max-width: 80%;
            }

            @media screen and (max-width: 1280px) {
                column-gap: 60px;
                max-width: 100%;
            }

            @media screen and (max-width: 1024px) {
                column-gap: 45px;
                max-width: 100%;
            }

            @media screen and (max-width: 768px) {
                column-gap: 28px;
                max-width: 100%;
            }

            @media screen and (max-width: 612px) {
                column-gap: 20px;
                max-width: 100%;
            }

            @media screen and (max-width: 575px) {
                grid-template-columns: 1fr 1fr;
                row-gap: 10px;
            }

            .inner_value_grid {
                h2 {
                    font-size: 75px;
                    color: black;
                    font-weight: 600;

                    @media screen and (max-width: 1600px) {
                        font-size: 65px;
                    }

                    @media screen and (max-width: 1450px) {
                        font-size: 60px;
                    }

                    @media screen and (max-width: 1280px) {
                        font-size: 50px;
                    }

                    @media screen and (max-width: 1024px) {
                        font-size: 45px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 33px;
                    }
                }

                h3 {
                    font-size: 20px;
                    color: black;
                    margin-top: 12px;

                    @media screen and (max-width: 1600px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width: 1280px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 13px;
                    }
                }

                p {
                    font-size: 16px;
                    color: black;

                    @media screen and (max-width: 1600px) {
                        font-size: 14px;
                    }

                    @media screen and (max-width: 1024px) {
                        font-size: 13px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 11px;
                    }

                }
            }
        }
    }
}