.main_packbox{

    .pack_box{
margin-top: 20px;
        .bottom{
            margin-bottom: 15px;
            .pack_and_image{

                .image{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}