.text_field {
    input {
        width: 100%;
        outline: none;
        border-radius: 30px;
        height: 50px;
        border: 1px solid #c2c2c2 !important;
        padding: 0px 30px;
        // color: #C2C2C2;
        color: black;
        margin-bottom: 15px;
        background-color: white;

        @media screen and (max-width: 375px) {
            height: 45px !important;
        }
    }
    .error_border {
        border: 1px solid red !important;
      }
}